fastapi
uvicorn[standard]
python-dotenv

langchain
langchain-core
langchain-community
langchain-groq
langchain-qdrant
langchain-huggingface

sentence-transformers
transformers
torch

qdrant-client

rank-bm25

pymupdf
pypdf

numpy
pandas
scikit-learn

einops
tqdm

python-multipart